.contact {
    padding: 50px 40px;
    background-color: $colorWhite;

    @media (max-width: $tablet) {
        padding: 40px;
    }

    @media (max-width: $smalltablet) {
        padding: 30px;
    }
}