.content {
    height: fit-content;

    &__h3 {
        font-weight: 400;
        @include fontSize24px;
    }

    &__h4 {
        @include fontSize18px;
    }

    &__h5 {
        @include fontSize16px;
    }

    &__header {
        font-weight: 400;
        @include fontSize28px;
        padding-bottom: 60px;

        @media (max-width: $mobile) {
            padding-bottom: 20px;
        }
    }

    &__p {
        white-space: pre-wrap;
        line-height: 1.3;

        a {
            transition: 0.3s ease all;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__txt {
        padding: 50px 40px;
        background-color: $colorWhite;
    
        @media (max-width: $tablet) {
            padding: 40px;
        }
    
        @media (max-width: $smalltablet) {
            padding: 30px;
        }
    }

    &__ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;
            padding-left: 15px;
            position: relative;

            &:before {
                content: '•';
                color: $colorOrange;
                position: absolute;
                left: 0;
                top: 0;
                height:15px;
                width: 10px;
            }

            a {
                transition: 0.2s ease color;

                &:hover {
                    color: $colorOrange;
                }
            }
        }
    }
}