.news {
    padding: 40px 40px 80px 40px;
    background-color: $colorWhite;
    position: relative;

    &:before {
        left: 0;
        width:2px;
        bottom: 0;
        background-color: $colorRed;
        content:'';
        position: absolute;
        height:calc(100% - 40px);
    }

    &__a {
        color: $colorWhite;
        display: block;
        width: fit-content;
        background-color: $colorRed;
        line-height: 85px;
        padding: 0 40px;
        position: absolute;
        left: 0;
        bottom: -42.5px;
        font-weight: 700;
        @include fontSize18px;
        transition: 0.2s ease background-color;

        &:hover {
            background-color: $colorGray;
        }
    }

    &__date {
        @include fontSize14px;
        display: block;
        margin-bottom: 20px;
    }

    &__header {
        @include fontSize18px;
        padding-bottom: 30px;
    }

    &__p {
        padding: 0;
        line-height: 1.2;
    }
}

.news-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px;
}